<div>Test</div>

<!-- {{#each book as |book|}} -->
    {{!-- <div>
        <p>{{book.id}}</p>
        <p>{{book.book_title}}</p>
        <p>{{music.book_artist}}</p>
    </div> --}}
<!-- {{/each}} -->