<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Downtime</title>
</head>
<body>
    <header>
        <!-- add conditionals to show login/logout/profile buttons-->
        <h1><a href='/'>Welcome to Downtime</a></h1>
        <nav>
        <a href="/profile">Profile</a><button>logout</button>
        <a href="/login"></a>
        </nav>
    </header>
    <main>
        {{{ body }}}
      {{!-- jumbotron with instructions? --}}
    </main>
    <footer>
        
    </footer>
</body>
</html>